

<!-- liste-contacts.component.html -->
<div>
<h2>Liste des Contacts ({{ contacts.length }})</h2>
<input
    [(ngModel)]="recherche"
    placeholder="🔍 Rechercher un contact...">
  <p>{{ contactsFiltres.length }} résultat(s)</p>
<!-- Message si liste vide -->
<p *ngIf="contacts.length === 0">
Aucun contact pour le moment.
</p>
<!-- Affichage si liste non vide -->
<ul *ngIf="contacts.length > 0">
<li *ngFor="let c of contacts; let i = index">
<span>{{ i + 1 }}.</span>
<strong> {{ c.nom }} </strong>
— {{ c.email }}
<small *ngIf="c.telephone"> | {{ c.telephone }}</small>
</li>
</ul>
<!-- Ajouter dans liste-contacts.component.html -->
<p *ngIf="nombreAjouts > 0">
{{ nombreAjouts }} contact(s) ajouté(s) depuis le chargement
</p>
<small>Liste chargée à : {{ dateChargement }}</small>
 <p *ngIf="contacts.length === 0">
    Aucun contact pour le moment.
  </p>

    <!-- <li *ngFor="let c of contacts; let i = index">            -->
  <!--   {{ i+1 }}. <strong>{{ c.nom }}</strong> — {{ c.email }} -->
  <!-- </li>                                                       -->
  <ul *ngIf="contacts.length > 0">
    <li *ngFor="let c of contactsFiltres; let i = index">
      <span>{{ i + 1 }}.</span>
      <strong> {{ c.nom }} </strong>
      — {{ c.email }}
      <small *ngIf="c.telephone"> | {{ c.telephone }}</small>
      <button (click)="supprimer(i)">❌</button>
    </li>
  </ul>

</div>
<!--<div class="liste">
<h2>Liste des Contacts
({{ contacts().length }})</h2>
@if (contacts().length === 0) {
<p>Aucun contact pour le moment.</p>
} @else {
<ul>
@for (c of contacts();
track c.email;
let i = $index) {
<li class="contact-item">
<span class="num">{{ i+1 }}</span>
<strong>{{ c.nom }}</strong>
<span>{{ c.email }}</span>
<small>{{ c.telephone }}</small>
</li>
}
</ul>
}
</div> -->